In [2]:
import pandas as pd
import pymysql

In [3]:
csv_file='/Users/rsharma5/Downloads/Result_8.csv'

In [4]:
df = pd.read_csv(csv_file)

In [5]:
df['SERVICE']='snowflake'
df['CREATED_BY']='system'

In [6]:
df.head()

,DATABASE_NAME,DB_SCHEMA,TABLE_NAME,TABLE_TYPE,ROLL_30D_TBL_UC,ROLL_30D_SCHEMA_UC,ROLL_30D_DB_UC,ROLL_30D_TBL_QC,CREATE_DATE,LAST_ACCESSED_DATE,LAST_REFRESHED_DATE,SIZE_GB,RUN_DATE,START_DATE,END_DATE,ROLL_30D_START_DATE,SERVICE,CREATED_BY
0,SSE_PRD,SSE_JPKR_SALES_STRATEGY_DZ,JP_SE_WORKSHOP_DSR,BASE TABLE,1,15,385,4,2023-07-05,2025-09-02,2025-01-31,0.000939,2025-09-08,2025-09-07,2025-09-07,2025-08-09,snowflake,system
1,SSE_PRD,SSE_TECH_OPS_SHARED,ZZZ_EDB_ILT_CLASS__C,BASE TABLE,0,0,0,0,2023-04-14,NaN,2025-04-10,0.001832,2025-09-08,2025-09-07,2025-09-07,2025-08-09,snowflake,system
2,SSE_DM_DBT_CI_PREPRD,DBT_CLOUD_PR_2013_55,INT_EMA_SMC_OFFERPOSITION_REFERENCE,BASE TABLE,0,0,0,0,2024-10-22,NaN,2025-01-05,0.000002,2025-09-08,2025-09-07,2025-09-07,2025-08-09,snowflake,system
3,SSE_DM_DBT_CI_PREPRD,DBT_CLOUD_PR_2013_55,ZZZ_INT_EMA_QSE_OFFERSENDLOG_JKR_HISTORY,BASE TABLE,0,0,0,0,2024-10-22,NaN,2025-04-09,0.013237,2025-09-08,2025-09-07,2025-09-07,2025-08-09,snowflake,system
4,SSE_DM_DBT_CI_PREPRD,DBT_CLOUD_PR_1742_80,ZZZ_MDW_EVENTS_AGG_CUBE,BASE TABLE,0,0,0,0,2024-11-19,NaN,2025-04-10,2.697664,2025-09-08,2025-09-07,2025-09-07,2025-08-09,snowflake,system

In [7]:

df = df.to_csv(csv_file, index=False)

In [8]:
df.columns

AttributeError: 'NoneType' object has no attribute 'columns'

In [10]:
# Create connection with local_infile explicitly enabled
mysql_conn = pymysql.connect(
            host='localhost',
            port=3306,
            user='thirdeye_user',
            password='password',
            database='thirdeye',
            local_infile=True  # Explicitly enable local_infile
        )
        
try:
            with mysql_conn.cursor() as cursor:
                # Use MySQL LOAD DATA LOCAL INFILE for bulk loading
                load_sql = f"""
                LOAD DATA LOCAL INFILE '{csv_file}'
                INTO TABLE fact_datalake_table_usage_inventory
                FIELDS TERMINATED BY ','
                LINES TERMINATED BY '\\n'
                IGNORE 1 ROWS
                (DATABASE_NAME, DB_SCHEMA, TABLE_NAME, TABLE_TYPE, ROLL_30D_TBL_UC, 
                ROLL_30D_SCHEMA_UC, ROLL_30D_DB_UC, ROLL_30D_TBL_QC, CREATE_DATE, 
                LAST_ACCESSED_DATE, LAST_REFRESHED_DATE, SIZE_GB, RUN_DATE, START_DATE, 
                END_DATE, ROLL_30D_START_DATE, SERVICE, CREATED_BY)
                """
                
                print(f"Executing LOAD DATA LOCAL INFILE for: {csv_file}")
                cursor.execute(load_sql)
                mysql_conn.commit()
                print(f"LOAD DATA LOCAL INFILE completed successfully")
                
finally:
            mysql_conn.close()

Executing LOAD DATA LOCAL INFILE for: /Users/rsharma5/Downloads/Result_8.csv

OperationalError: (3948, 'Loading local data is disabled; this must be enabled on both the client and server sides')

In [55]:
df

,DATABASE_NAME,DB_SCHEMA,TABLE_NAME,TABLE_TYPE,ROLL_30D_TBL_UC,ROLL_30D_SCHEMA_UC,ROLL_30D_DB_UC,ROLL_30D_TBL_QC,CREATE_DATE,LAST_ACCESSED_DATE,LAST_REFRESHED_DATE,SIZE_GB,RUN_DATE,START_DATE,END_DATE,ROLL_30D_START_DATE,SERVICE,CREATED_BY
0,SSE_DM_CSG_RPT_PREPRD,CIDM,CI_CONVERSATIONDEFINITIONEVENTLOG_ORGCS,BASE TABLE,0,0,0,0,2024-11-20,NaN,2025-08-06,664.653176,2025-08-19,2025-08-17,2025-08-18,2025-08-14,test,test
1,SSE_DM_MKT_PRD,DS_MTA,ZZZ_LSTM_ATTRIBUTION_TOUCHPOINT_LEVEL_SAGEMAKE...,BASE TABLE,0,0,0,0,2024-07-19,NaN,2025-04-08,14.920685,2025-08-19,2025-08-17,2025-08-18,2025-08-14,test,test
2,SSE_ODS_PREPRD,EVENTBASE_ANDROID,DISCOVER_TAP_RECOMMENDED_SESSION_V1,BASE TABLE,0,0,0,0,2024-04-10,NaN,2025-01-03,0.000022,2025-08-19,2025-08-17,2025-08-18,2025-08-14,test,test
3,SSE_DM_TAB_DPE_PRD,SDLC360,GUS_EPIC_HISTORY_WINDOWS,BASE TABLE,1,6,8,5,2023-12-08,2025-08-18,2025-01-05,13.656453,2025-08-19,2025-08-17,2025-08-18,2025-08-14,test,test
4,SSE_DM_MKT_PREPRD,WRK_MARKETING_ANALYTICS,STG_MDP,BASE TABLE,0,0,0,0,2024-04-11,NaN,2025-01-04,12.317680,2025-08-19,2025-08-17,2025-08-18,2025-08-14,test,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161995,SANDBOX_PRD,K_NAYAK_SANDBOX,ACV_KPI_AT_ACCT_AND_COMBO_LEVEL,BASE TABLE,0,0,0,0,2025-05-09,NaN,2025-05-09,0.036773,2025-08-19,2025-08-17,2025-08-18,2025-08-14,test,test
161996,SSE_DM_DNA_EMS_PREPRD,DNA_EMS_FEAT_STORE,V2MOM_FULL_TEXT,BASE TABLE,1,1,30,2975,2025-08-01,2025-08-18,2025-08-01,0.180156,2025-08-19,2025-08-17,2025-08-18,2025-08-14,test,test
161997,SSE_PRD,SSE_ES_PSA_DZ,GIS_AGENT_MULTI,BASE TABLE,0,0,0,0,2025-06-16,NaN,2025-06-16,0.014580,2025-08-19,2025-08-17,2025-08-18,2025-08-14,test,test
161998,EDH_PRD,RAW,EGRC_ERM_RISK_LANDSCAPE__C,BASE TABLE,0,0,0,0,2025-07-10,NaN,2025-07-24,0.000403,2025-08-19,2025-08-17,2025-08-18,2025-08-14,test,test
161999,EDW_PRD,ODS,SFDC_SLA_TABLE_REDESIGN_7_4_679647,BASE TABLE,1,255,348,15,2025-08-19,2025-08-18,2025-08-19,0.000000,2025-08-19,2025-08-17,2025-08-18,2025-08-14,test,test

In [68]:
df['FQN']=df.DATABASE_NAME+':'+df.DB_SCHEMA+':'+df.TABLE_NAME

In [73]:
df.columns

Index(['DATABASE_NAME', 'DB_SCHEMA', 'TABLE_NAME', 'TABLE_TYPE',
       'ROLL_30D_TBL_UC', 'ROLL_30D_SCHEMA_UC', 'ROLL_30D_DB_UC',
       'ROLL_30D_TBL_QC', 'CREATE_DATE', 'LAST_ACCESSED_DATE',
       'LAST_REFRESHED_DATE', 'SIZE_GB', 'RUN_DATE', 'START_DATE', 'END_DATE',
       'ROLL_30D_START_DATE', 'SERVICE', 'CREATED_BY', 'FQN'],
      dtype='object')

In [74]:
full_ds = df[['FQN','ROLL_30D_TBL_UC','ROLL_30D_TBL_QC','CREATE_DATE','LAST_ACCESSED_DATE','LAST_REFRESHED_DATE','SIZE_GB']]

In [ ]:

# Fill NaN values
date_columns = ['CREATE_DATE', 'LAST_ACCESSED_DATE', 'LAST_REFRESHED_DATE']
for col in date_columns:
    full_ds[col] = full_ds[col].fillna('2024-01-01')

# Convert to datetime
for col in date_columns:
    full_ds[col] = pd.to_datetime(full_ds[col])

# Calculate days from today
today = pd.Timestamp.now().normalize()
full_ds['DAYS_SINCE_CREATE'] = (today - full_ds['CREATE_DATE']).dt.days
full_ds['DAYS_SINCE_LAST_ACCESS'] = (today - full_ds['LAST_ACCESSED_DATE']).dt.days
full_ds['DAYS_SINCE_LAST_REFRESH'] = (today - full_ds['LAST_REFRESHED_DATE']).dt.days

# Drop original date columns
full_ds = full_ds.drop(columns=date_columns)

In [77]:
full_ds.fillna(0,inplace=True)

In [78]:
full_ds.head()

,FQN,ROLL_30D_TBL_UC,ROLL_30D_TBL_QC,SIZE_GB,DAYS_SINCE_CREATE,DAYS_SINCE_LAST_ACCESS,DAYS_SINCE_LAST_REFRESH
0,SSE_DM_CSG_RPT_PREPRD:CIDM:CI_CONVERSATIONDEFI...,0,0,664.653176,273,597,14
1,SSE_DM_MKT_PRD:DS_MTA:ZZZ_LSTM_ATTRIBUTION_TOU...,0,0,14.920685,397,597,134
2,SSE_ODS_PREPRD:EVENTBASE_ANDROID:DISCOVER_TAP_...,0,0,0.000022,497,597,229
3,SSE_DM_TAB_DPE_PRD:SDLC360:GUS_EPIC_HISTORY_WI...,1,5,13.656453,621,2,227
4,SSE_DM_MKT_PREPRD:WRK_MARKETING_ANALYTICS:STG_MDP,0,0,12.317680,496,597,228